torch
torchvision
# From detectron2
opencv-python
git+https://github.com/facebookresearch/segment-anything
segmentation-models-pytorch
pytest
git+https://github.com/ChaoningZhang/MobileSAM
thop
https://github.com/facebookresearch/sam2.git
